* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Denk One', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Animações */

.container-input {
    opacity: 0;
    transform: translateY(-20px);
    animation: has-show .5s ease-in 1  forwards;
}

.per-humidity {
    opacity: 0;
    transform: translateY(-15px);
    animation: has-show .5s ease-in 1  forwards;
}

.per-winds {
    opacity: 0;
    transform: translateY(-15px);
    animation: has-show .5s ease-in .2s 1 forwards;
}

.per-clouds {
    opacity: 0;
    transform: translateY(-15px);
    animation: has-show .5s ease-in .3s 1 forwards;
}

.container-data {
    opacity: 0;
    transform: translateX(30px);
    animation: has-show .5s ease-in-out 1 .2s forwards;
}

.sensation {
    opacity: 0;
    transform: translateY(30px);
    animation: has-show .5s ease-in-out 1 forwards;
}

.temp-minimum {
    opacity: 0;
    transform: translateY(30px);
    animation: has-show .5s ease-in-out 1 .2s forwards;
}

.temp-maximum {
    opacity: 0;
    transform: translateY(30px);
    animation: has-show .5s ease-in-out 1 .3s forwards;
}

@keyframes has-show {
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}

/* Animações */

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    position: relative;
}

.main-img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.container-1 {
    background-color: rgba(0, 0, 0, .5);
    width: calc(100% - 20px);
    max-width: 580px;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 90px;
    box-shadow:  0px 10px 10px #0000;
}

.fa-tint, .fa-wind, .fa-cloud {
    font-size: 3rem;
}

.per-humidity, .per-winds, .per-clouds {
    background-color: rgb(94, 30, 30);
    color: rgb(207, 175, 175);
    display: flex;
    flex-flow: column;
    height: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.container-2 {
    background-color: rgba(0, 0, 0, .5);
    width: 40rem;
    height: 60rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-around;
    font-size: 1.5rem;
    color: rgb(231, 214, 214);
    box-shadow:  0px 10px 10px #242222;
    transition: all ease-in-out;
}

.form-city {
    width: 310px;
    height: 90px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-input input {
    background-color: rgb(94, 30, 30);
    width: 310px;
    height: 4rem;
    outline: none;
    text-align: center;
    color: rgb(231, 214, 214);
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.5rem;
}

::placeholder {
    color: #bf9292;
}

.search {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 2.5rem;
    color: #bf9292;
}

.invalid-city {
    display: none;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color:  red;
    background-color: rgba(241, 211, 204, 0.8);
    box-shadow:  0px 1px 10px rgba(224, 163, 163, 0.5);
}

.container-data {
    padding: 20px;
    width: 390px;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.city {
    display: flex;
}

.temperature {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 130px;
}

.data {
    width: 95%;
    height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    color: rgb(207, 175, 175);
}

.sensation, .temp-minimum, .temp-maximum {
    background-color: rgb(94, 30, 30);
    display: flex;
    width: 110px;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 1rem;
}

@media (max-width: 450px) {
    .main {
        height: 800px;
        overflow: hidden;
    }

    .container-2 {
        width: calc(100% - 15px);
        height: 700px;
        margin-top: -700px;
    }

    .container-data {
        margin-top: -100px;
        border-radius: 1rem;
        width: 344px;

    }

    .container-1 {
        background-color: transparent;
        height: 100px;
        font-size: 10rem;
        margin-top: 400px;
        z-index: 999;
        width: 100%;
        align-items: center;
    }

    .data {
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px white;
        border-radius: 0;
    }

    .fa-tint, .fa-wind, .fa-cloud {
        font-size: 2rem;
    }

    .per-humidity, .per-winds, .per-clouds {
        width: 105px;
        flex-flow: column;
        font-size: 1.6rem;
        margin: 5px;
        text-align: center;
        line-height: 2.4rem;
        justify-content: space-around;
        height: 85px;
    }

    .sensation, .temp-minimum, .temp-maximum {
        font-size: 1.6rem;
        line-height: 2.4rem;
        justify-content: space-around;
        width: 105px;
        height: 85px;
    }
}

@media (min-width: 960px) {
    .main {
        flex-flow: row;
    }

    .main .container-1 {
        width: 230px;
        height: 280px;
        flex-flow: column;
        background-color: rgba(0, 0, 0, .9);
        box-shadow:  0px 10px 10px #000000;
        padding: 10px;
        margin-left: -700px;
        z-index: 1;
        position: fixed;
    }

    .per-humidity, .per-winds, .per-clouds {
        width: 90%;
        height: 50px;
        margin: 5px;
        flex-flow: row;
        justify-content: space-around;
    }

    .main .container-2 {
        width: 720px;
    }

    .container-input  {
        width: 400px;
    }
    
    .container-input input {
        width: 100%;
    }

    .data {
        width: 98%;
        height: 60px;
    }

    .sensation, .temp-minimum, .temp-maximum {
        width: 100%;
        flex-flow: row;
        font-size: 1.4rem;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    .main .container-1 {
        width: 300px;
        height: 250px;
        max-width: 350px;
    }

    .main .container-2 {
        height: 70rem;
    }

    .container-input  {
        width: 450px;
        max-width: 450px;
    }
    
    .container-input input {
        width: 100%;
    }

    .container-data {
        height: 390px;
        justify-content: space-between;
    }
}