*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Denk One', sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/day.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container-1 {
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, .9);
    box-shadow:  0px 10px 10px #0000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-right: -150px;
    transform: translateX(-100px);
    opacity: 0;
    animation: has-show 700ms ease-in-out 300ms forwards;
    z-index: 9999;
}

.container-2 {
    width: 800px;
    height: 700px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow:  0px 10px 10px #242222;
    border-radius: 10px;
    margin-left: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    transform: translateX(100px);
    animation: has-show 700ms ease-in-out 300ms forwards;
}

.per-humidity {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(94, 30, 30);
    box-shadow:  0px 0px 3px #501a1a,
                 0px 0px 3px #6c2323;
    color: #bf9292;
    transform: translateY(-30px);
    opacity: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    animation: has-show 1s ease-in-out 900ms forwards;
}

.per-winds {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(94, 30, 30);
    box-shadow:  0px 0px 3px #501a1a,
                 0px 0px 3px #6c2323;
    color: #bf9292;
    border-radius: 10px;
    transform: translateX(-50px);
    opacity: 0;
    animation: has-show 1s ease-in-out 1.3s forwards;
}

.per-clouds {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(94, 30, 30);
    box-shadow:  0px 0px 3px #501a1a,
                 0px 0px 3px #6c2323;
    color: #bf9292;
    border-radius: 15px;
    transform: translateY(50px);
    opacity: 0;
    animation: has-show 1s ease-in-out 900ms forwards;
}

.fa-tint {
    color: #fff;
    font-size: 30px;
}

.fa-wind {
    font-size: 30px;
    color: #fff;
}

.fa-cloud {
    font-size: 30px;
    color: #fff;
}

.name-city, .description-name {
    font-size: 20px;
}

.per-humidity,
.per-winds,
.per-clouds,
.thermal-sensation,
.minimum,
.maximum {
    transition: .5s ease;
}

.per-humidity:hover,
.per-winds:hover,
.per-clouds:hover,
.thermal-sensation:hover,
.minimum:hover,
.maximum:hover {
    color: white;
}

input {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(94, 30, 30);
    box-shadow:  0px 0px 3px #501a1a,
                 0px 0px 3px #6c2323;
    text-align: center;
    color: #bf9292;
    outline: none;
    font-size: 20px;
    transform: translateY(-50px);
    opacity: 0;
    animation: has-show 1s ease-in-out 1s forwards;
}

input:focus {
    color: #fff;
} 

::placeholder {
    color: #bf9292;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(50px);
    opacity: 0;
    animation: has-show 1s ease-in-out 1s forwards;
}

.fa-search {
    padding: 8px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 35px;
    transform: translateY(-50px);
    opacity: 0;
    color: #bf9292;
    animation: has-show 1s ease-in-out 1s forwards;
}

.data {
    background-color: rgb(94, 30, 30);
    box-shadow:  0px 0px 3px #501a1a,
                 0px 0px 3px #6c2323;
    width: 700px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;
    animation: has-show 1s ease-in-out 1s forwards;
    color: #bf9292;
}

.container-input {
    width: 560px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.invalid-city {
    display: none;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color:  red;
    background-color: rgba(241, 211, 204, 0.8);
    box-shadow:  0px 1px 10px rgba(224, 163, 163, 0.5);
}

.container-data {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 700;
    padding: 20px;
}

.temperature h1 {
    font-size: 50px;   
}

.temperature {
    display: flex;
    width: 150px;
    height: 145px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(70px);
    opacity: 0;
    animation: has-show 1s ease-in-out 1.5s forwards;
}

.city {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transform: translateY(-30px);
    opacity: 0;
    font-size: 1px;
    animation: has-show 1s ease-in-out 1s forwards;
}

.flag-icon {
    width: 30px;
    height: 30px;
}

.icon-png {
    width: 100px;
    height: 100px;
}

@keyframes has-show {
    to {
        opacity: 1;
        transform: none;
    }
}

/*  Tablet */

@media (min-width: 450px) and (max-width: 960px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-1 {
        width: 80vw;
        height: 10vh;
        margin: auto;
        flex-direction: row;
        transform: translateY(-60px);
    }

    .container-2 {
        width: 90vw;
        height: calc(100vh - 300px);
        margin: auto;
        margin-top: -40px;
        padding: 20px;
        transform: translateY(60px);
        align-items: center;
        justify-content: center;
    }

    .name-city, .description-name {
        font-size: 20px;
    }

    .temperature h1 {
        font-size: 35px;
    }

    .container-data {
        width: 280px;
        height: 280px;
        margin-bottom: 15px;
    }

    .data {
        width: calc(100vw - 190px);
        height: 5vh;
        margin-bottom: 10px;
    }

    .fa-tint,
    .fa-wind,
    .fa-cloud {
        font-size: 20px;
    }

    .per-humidity,
    .per-winds,
    .per-clouds {
        height: auto;
        border-radius: 5px;
        font-size: 15px;
        justify-content: space-around;
    }
    .per-humidity {
        transform: translateX(-50px);
    }

    .per-winds {
        transform: translateY(-50px);
    }
    
    .per-clouds {
        transform: translateX(50px);
    }
}

/*  Mobile */

@media (max-width: 450px) {
    .main {
        flex-direction: column;
        overflow: hidden;
    }

    .container-1 {
        height: 130px;
        width: 372px;
        position: absolute;
        flex-direction: row;
        border-radius: 0;
        margin-top: 140px;
        background-color: rgba(0, 0, 0, .4);
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .per-humidity, .per-winds, .per-clouds {
        flex-direction: column;
        text-align: center;
        font-size: 18px;
        display: flex;
        height: 110px;
        width: 100px;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
        line-height: 30px;
        padding: 10px;
        color: white;
        background-color: rgb(94, 30, 30);
        border-radius: 5px;
    }

    .humidity, .clouds, .wind {
        width: 100px;
    }

    .container-2 {
        width: 90vw;
        height: calc(100vh - 20px);
        justify-content: space-around;
        margin: auto;
        padding: 20px;
        transform: translateY(60px);
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    input {
        width: 300px;
    }

    .form-city {
        width: 100%;
        height: 10%;
        margin-top: -250px;
    }

    .container-data {
        height: 90%;
    }

    .data {
        max-width: 100%;
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 0;
        margin-top: 270px;
    }

    .data .sensation, .temp-minimum, .temp-maximum {
        display: flex;
        height: 110px;
        width: 100px;
        align-items: center;
        justify-content: space-around;
        line-height: 30px;
        padding: 10px;
        color: white;
        background-color: rgb(94, 30, 30);
        border-radius: 5px;
    }

    .name-city, .description-name {
        font-size: 20px;
    }

    .temperature h1 {
        font-size: 35px;
    }

    .fa-search {
        padding: 8px;
        margin-left: 100px;
    }

    .container-data {
        width: 280px;
        height: 350px;
    }
}